.footer__flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222F33;
    padding-top: 20px;
    padding-bottom: 9px;
}



.footer_p{
    padding-left: 75px ;
    opacity: 0.6;
    color: #FFF;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 400;
}
.contact__footer{
    opacity: 0.6;
    color: #FFF;
    font-size: 18px;
    font-weight: 450;
    padding-bottom: 38px;
    padding-right: 50px;

}


.img_logo_2{
    padding-left: 100px;
    padding-right: 50px;
    height: auto;
    width: 350px;
}


.text__footer{
    display: flex;
    padding-top: 40px;
    width: 250px;
    height: 9%;
    padding-right: 300px;
}


