.hero_paragrap{
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-weight: 500;
}

.hero__inner{
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 300px 150px;
}

.hero_title {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    width: 440px;
}

.newdef{
    width: 550px;
    color: var(--Greys-Light-grey, #646D70);
    font-size: 19px;
    font-weight: 400;
    line-height: 34px; 
    padding-top: 15px;
    
}

.hero {
    background-image: url('/images/back_img.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    opacity: 1;
    position: relative; 
}

.hero_paragraphe{
    padding-top: 120px;
    opacity: 0.8;
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Rubik;
    font-size: 23px;
    font-weight: 500;
    margin: 0;
}

.hero_title{
    padding-top: 12px;
    width: 540px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 40px;
    font-weight: 1100;
}


.flex_for_vudeo_btn {
    padding-right: 290px;
    padding-top: 185px;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}

.hero_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

}

.wtch{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    
}

.video_btn{
    width: 110px;
    height:auto;
    margin-right: -15px;
}

.for_text{
    padding-top: 90px;
}


