.materials{
    color: var(--Color-Dark-green, #222F33);
    font-family: "Merriweather";
    font-size: 40px;
    font-weight: 900;


}

.newdef{
    width: 550px;
    color: var(--Greys-Light-grey, #646D70);
    font-size: 19px;
    font-weight: 400;
    line-height: 34px; 
    padding-top: 15px;
    
}

.read__more{
    width: 130px;
    height: 48px;
    border-radius: 5px;
    border: 2px solid var(--Greys-Light-grey, #646D70);
    color: #606B74;
    background-color: #FFF;
    text-align: center;
    font-family: "Rubik" serif;
    font-size: 16px;
    font-weight: 500;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 23px;
    padding-right: 15px;
}
.photo__defilm{
    width: 35%;
    height: auto;

}

.defilm__flex{  
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.defilm__inner{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}