body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

h2 {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.controls {
    display: flex;
    gap: 10px;
    padding-bottom: 20px;
}

.search {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.search-button, .cancel-search {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.search-button {
    background-color: #007bff;
    color: white;
}

.cancel-search {
    background-color: #dc3545;
    color: white;
}

.items-for-box {
    display: flex;
    gap: 20px;
}

.flex {
    flex-basis: 200px;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 8px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sort-button {
    padding: 10px;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
}

.counter-title {
    font-size: 16px;
    margin-top: 20px;
}

.count-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

.count-box {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.count-result {
    font-size: 18px;
    font-weight: bold;
}

.result {
    font-size: 18px;
    color: #28a745;
    font-weight: bold;
}

.parks-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex: 3;
}

.parks-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.parks-list li {
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 8px;
    padding: 20px;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.parks-list li img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.parks-list li h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.parks-list li p {
    font-size: 14px;
    margin-bottom: 10px;
}



.both {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.both.show-modal {
    pointer-events: all;
    opacity: 1;
    visibility: visible;
}

.container-create-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px; 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); 
    width: 900px;   
    max-width: 90%; 
}

.park-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.park-form input, 
.park-form textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    font-size: 16px;
    width: 100%;
}

.park-form button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.park-form button:hover {
    background-color: #0056b3; 
}

.form-title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
}






